POSTGRES_DB=springbootpostgressecurity
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

APP_PORT=8080

ELASTIC_STACK_VERSION=8.13.4

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/springbootpostgressecurity
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

JWT_SECRET=ZGV2ZWxvcG1lbnQtand0LXNlY3JldC1jaGFuZ2UtbWU=
