POSTGRES_DB=springbootpostgressecurity
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

APP_PORT=8080

ELASTIC_STACK_VERSION=8.13.4
ELASTIC_PASSWORD=elastic123456
KIBANA_SYSTEM_PASSWORD=kibana_system123456
LOGSTASH_INTERNAL_PASSWORD=logstash_internal123456
KIBANA_SECURITY_ENCRYPTION_KEY=devsecurityencryptionkey1234567890
KIBANA_ENCRYPTEDSAVEDOBJECTS_ENCRYPTION_KEY=devencryptedsavedobjectskey1234567890
KIBANA_REPORTING_ENCRYPTION_KEY=devreportingencryptionkey1234567890

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/springbootpostgressecurity
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

JWT_SECRET=ZGV2ZWxvcG1lbnQtand0LXNlY3JldC1jaGFuZ2UtbWU=
